<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40"
    alt="Shared Dreams Hands"
    src="/assets/imgs/hands.png"
  />
  <span>Shared Dreams</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <figure id="logo">
    <img src="/assets/imgs/logo.png" alt="">
  </figure>
  <h1>Dream with Us!</h1>

  <!-- Terminal -->
  <div class="terminal">
      <pre>Shared Dreams Development team</pre>
  </div>

  <!-- Footer -->
  <footer>
      Shared Dreams 2020
  </footer>
</div>

<router-outlet></router-outlet>