<section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">Team</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis
      blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit
      expedita.</p>

    <div class="members">
      <div class="card mb-3 text-white" *ngFor="let member of members">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img class="card-img" [src]="member.fields.photoUrl" [alt]="member.fields.name">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ member.fields.name }} {{ member.fields.lastname }}</h5>
              <p class="card-text">{{ member.fields.role }}</p>
              <p class="card-text">{{ member.fields.bio }}</p>
              <p class="card-text"><small class="text-muted">Last updated x mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>