.masthead {
  height: 100vh;
  min-height: 500px;
  // background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-image: url('/assets/imgs/header-sky-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  #logo {
    width: 80%;
    img {
      width: 100%;
      height: auto;
    }
  }
}